#profile-avatar{
  margin-top: 30px;
  border: solid black 2px;
  border-radius: 180px;
  height: 300px;
  width: 300px;
  margin-right: 30px;
}

#ul{
  list-style-type: none;
}
ul#secondary-nav li{
  float: left;
  display: block;
  padding: 18px;  
}
#git-info{
  list-style-type: none;
}
ul#git-info li{
  display: block;
  float: left;
  padding: 10px;
  margin-left: 0px;
  width: 100%;
}
#design-to-fill-space{
  color: white;
}
#no-of-repos{
  background-color: darkgrey;
  border-radius: 120px;
  padding: 7px;

}
@media screen and (max-width: 1290px) {
  #profile-avatar {
    height: 220px;
    width: 220px;
  }
}
@media screen and (max-width: 600px) {
  #profile-avatar {
    height: 100px;
    width: 100px;
  }
  ul#git-info li{
    float: none;
    width: 100%;
  }
  
}