<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <div class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search or jump to .." [(ngModel)]="query" aria-label="Search">
      <button class="btn btn-sm btn-outline-success" type="button" (click)="search()">Search</button>
    </div>
    <a class="navbar-brand">GIT CLONE</a>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <img id="profile-avatar" src="{{user.avatar_url}}">
      <div id="account-info">
        <h5>{{user.login}}</h5>
        <a href="#" class="btn btn-primary btn-lg disabled" tabindex="-1" role="button" 
        aria-disabled="true">Edit Profile</a>
        <ul id="git-info">
          <li>{{user.followers}} Followers</li>
          <li>{{user.following}} Following</li>
          <li><img src="https://img.icons8.com/metro/20/000000/star.png"/></li>

        </ul>
      </div>
    </div>
    <div class="col-9">
      <div>
        <ul id="secondary-nav">
          <li>Overview</li>
          <li routerLink="Repositories">Repositories<span id="no-of-repos"> {{user.public_repos}}</span></li>
          <li>Projects</li>
          <li>Packages</li>
        </ul>
      </div>
      <h5 id="design-to-fill-space">Popular Repositories</h5>
      <h5 id="design-to-fill-space">Popular Repositories</h5>
      <div class="row" *ngFor="let repo of repositories">
        <div class="d-flex">
          <div class="col">
            <div class="alert alert-secondary" role="alert">
              <h4 class="alert-heading">{{repo.name}}</h4>
              <p>{{repo.description}}</p>
            </div>
        </div>
        </div>
        
      </div>
    </div>
  </div>

</div>

